$dark: #12121c;
$light: #fafafa;

$themes: (
    light: (
        bg: $light,
        fg: $dark,
        accent: rgb(123, 96, 53)
    ),
    dark: (
        bg: $dark,
        fg: $light,
        accent: rgb(205, 171, 63)
    )
);

@mixin generate-vars($theme-name) {
    $theme-map: map-get($themes, $theme-name);

    @each $key, $value in $theme-map {
        --#{$key}: #{$value};
    }
}

:root {
    color-scheme: light dark;

    @include generate-vars(light);

    @media (prefers-color-scheme: dark) {
        @include generate-vars(dark);
    }

    &[data-theme="light"] {
        @include generate-vars(light);
    }

    &[data-theme="dark"] {
        @include generate-vars(dark);
    }
}

:root[data-theme="light"] {
    color-scheme: light;
}

:root[data-theme="dark"] {
    color-scheme: dark;
}

body {
    color: var(--fg);
    background: var(--bg);
}

button {
    border: none;
    border-radius: 4px;

    color: var(--bg);
    background: var(--fg);
}

a {
    color: var(--accent);
    text-decoration-line: underline;
    font-weight: normal;

    &:hover {
        color: var(--fg);
    }
}

.icon {
    display: inline-block;
    height: 1cap;
}
