$dark: #12121c;
$light: #fafafa;

:root.light {
    color-scheme: only light;
    --bg: #{$light};
    --fg: #{$dark};
}

:root:not(.light) {
    color-scheme: only dark;
    --bg: #{$dark};
    --fg: #{$light};
}

body {
    color: var(--fg);
    background: var(--bg);
}

button {
    border: none;
    border-radius: 4px;

    color: var(--bg);
    background: var(--fg);
}
