@use "theme";
@use "const" as *;
@use "mobile" as *;

$generic-padding: 1em;

:root {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    overflow: auto;

    width: 100%;
    min-height: 100vh;

    grid-template-areas:
        "head head head"
        "side root .   "
        ".    root .   "
        ".    .    .   "
        ".    foot .   ";
    grid-template-columns: $sidebar-preferred-width 1fr $sidebar-preferred-width;
    grid-template-rows: auto auto auto 1fr auto;
}

#header {
    grid-area: head;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

#content {
    grid-area: root;
}

#sidebar {
    grid-area: side;
    max-width: $sidebar-preferred-width;
}

#content,
#footer {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
}

#header,
#content,
#sidebar,
#footer {
    padding: $generic-padding;
    background: var(--bg);
}

#sidebar-toggle {
    visibility: hidden;
}

#footer {
    grid-area: foot;
}

@include mobile {
    body {
        grid-template-areas:
            "head"
            "root"
            ".   "
            "foot";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    #header {
        position: sticky;
        top: 0;
    }

    #footer {
        margin-top: auto;
    }

    #sidebar-toggle {
        visibility: visible;
    }

    #sidebar {
        height: max-content;
        margin-left: $generic-padding;

        border: 1px solid var(--fg);
        border-radius: 8px;
    }

    :root.sidebar-open #sidebar {
        grid-area: root;
    }

    :root:not(.sidebar-open) #sidebar {
        display: none;
    }
}

$huge-butt-size: 42px;

.huge-butt {
    font-family: sans-serif;

    display: inline-block;
    padding: 4px;

    width: $huge-butt-size;
    height: $huge-butt-size;

    font-size: $huge-butt-size / 2;
    cursor: pointer;
}

.borgir {
    height: $huge-butt-size;
    width: $huge-butt-size;

    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 8px;
}

.borgir > * {
    width: 100%;
    border-bottom: 3px solid var(--bg);
    height: 1px;
}
