{% extends "_base.html" %}

{% block what %}Convert space dates{% endblock %}
{% block url %}/cycles{% endblock %}
{% block description %}{# TODO: describe #}{% endblock %}

{% block body %}
<h1>Convert space dates to Earth dates</h1>
<p>TODO: describe usage.</p>

<fieldset id="iterations">
    <legend>Space date to convert:</legend>

    <label>
        Cycle:
        <input type="number" id="cycle" value="9444" oninput="convertSpaceDate()">
    </label>
    <br>
    <label>
        Hour:
        <input type="number" id="hour" value="0" min="0" max="4095" oninput="convertSpaceDate()">
    </label>

    {% for iter in ["Ou", "Tonami", "Makoto", "De'a", "Omuan", "Sayoki", "Mau", "Mio-a-Phay", "Lamin", "Sawarim",
    "Yalaqusha", "Exaquon", "Xin-daff", "Maduwan", "Yarxun", "Mathacune", "Mewbro", "Lim"] %}
    <br>
    <label>
        <input type="radio" id="iter{{ loop.index0 }}" name="iter" value="{{ loop.index0 }}"
            oninput="convertSpaceDate()">
        {{ iter }}
    </label>
    {% endfor %}

</fieldset>

<fieldset>
    <legend>Resulting Earth interval:</legend>
    <div>Start: <span id="startDate">...</span></div>
    <div>End: <span id="endDate">...</span></div>
</fieldset>

<fieldset>
    <legend>Convert Earth date to cycle and iteration:</legend>
    <label>
        Date:
        <input type="date" id="convertDate" oninput="convertEarthDate()">
    </label>
</fieldset>
{% endblock body %}

{% block head %}
<script>
    const iterCount = 18;
    const iterHours = 4096;

    const iterMillis = 182 * 24 * 60 * 60 * 1000;
    const cycleMillis = iterMillis * iterCount;

    function convertEarthDate() {
        const base = Date.parse("1964-03-08");

        let timestamp = document.getElementById("convertDate").valueAsNumber - base;
        const cycle = Math.floor(timestamp / cycleMillis);

        timestamp -= cycle * cycleMillis;
        const iter = Math.floor(timestamp / iterMillis);

        timestamp -= iter * iterMillis;
        const hour = Math.floor(timestamp * iterHours / iterMillis);

        document.getElementById("cycle").value = 9444 + cycle;
        document.getElementById("hour").value = hour;
        document.getElementById(`iter${iter}`).checked = true;

        convertSpaceDate();
    }

    function convertSpaceDate() {
        const base = Date.parse("1964-03-08");

        const cycle = (parseInt(document.getElementById("cycle").value) - 9444);

        let iter = 0;

        for (const radioButton of document.getElementsByName("iter")) {
            if (radioButton.checked) {
                iter = parseInt(radioButton.value);
            }
        }

        iter += parseInt(document.getElementById("hour").value) / iterHours;
        const timestampStart = base + cycleMillis * cycle + iterMillis * iter;
        const timestampEnd = timestampStart + iterMillis - 1;

        document.getElementById("startDate").textContent = new Date(timestampStart).toString();
        document.getElementById("endDate").textContent = new Date(timestampEnd).toString();
    }
</script>
{% endblock head %}
