{% extends "_base.html" %}

{% block what %}Home{% endblock %}
{% block url %}{% endblock %}
{% block description %}{# TODO: describe #}{% endblock %}

{% block body %}
<h1>Constellation of the Cat</h1>
<p>Website under construction!</p>
<p>Meanwhile, check out our Telegram channel at
    <a href="https://t.me/ConstellationoftheCat">t.me/ConstellationoftheCat</a>.
</p>
{% endblock body %}
