{% extends "_base.html" %}

{% block what %}Home{% endblock %}
{% block url %}{% endblock %}
{% block description %}{# TODO: describe #}{% endblock %}

{% block body %}
<h1>Constellation of the Cat</h1>
<p>Website under construction!</p>
<p>
    Meanwhile, check out our Telegram channel at
    <a target="_blank" href="https://t.me/ConstellationOfTheCat">t.me/ConstellationOfTheCat</a>.
</p>
<p>
    Oh, and check out this little
    <a href="/cycles">time-system conversion tool</a>
    designed for the book's universe.
</p>
<p>
    The source code for this dumpster lives on
    <a target="_blank" href="https://github.com/nonk123/cotc.neocities.org">GitHub</a>.
</p>
{% endblock body %}
